/* 
I installed a custom font called "Amiamie" and included it in the project directory. 
The font files are located in the "webfonts" folder.
*/

@font-face {
    font-family: 'Amiamie';
    src: url(./webfonts/Amiamie-Black.woff2) format('woff2'),
        url(./webfonts/Amiamie-BlackItalic.woff2) format('woff2'),
        url(./webfonts/Amiamie-BlackItalicRound.woff) format('woff2'),
        url(./webfonts/Amiamie-BlackRound.woff2) format('woff2'),
        url(./webfonts/Amiamie-Italic.woff2) format('woff2'),
        url(./webfonts/Amiamie-ItalicRound.woff2) format('woff2'),
        url(./webfonts/Amiamie-Light.woff2) format('woff2'),
        url(./webfonts/Amiamie-LightItalic.woff2) format('woff2'),
        url(./webfonts/Amiamie-Regular.woff2) format('woff2') url(./webfonts/Amiamie-RegularRound.woff2) format('woff2'),
}

/* This is the main styling for the webpage */

body {
    background-color: #020722;
    padding: 40px;
}

h1 {
    font-family: 'Amiamie-BlackItalicRound';
    font-size: 27px;
    color: lightblue;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Amiamie-Light';
    font-size: 18px;
    color: lightblue;
    margin: 10px;
    padding: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 20px;
}

.header_logo {
    display: flex;
    justify-content: flex-start;
}

.header_logo_img {
    width: 100px;
    height: auto;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.navigation_link {
    font-family: 'Amiamie-RegularRound';
    font-size: 18px;
    color: lightcoral;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.box_text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box_planets {
    position: relative;
    width: 100%;
    max-width: 854px;
    aspect-ratio: 854 / 641;
    background-image: url(./Images_PNGs/Zodiac_Wheel.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.planet {
    position: absolute;
    width: 6vw;
    height: 6vw;
    max-width: 100px;
    max-height: 100px;
    margin: 1vw;
}

.birth_date_button {
    font-family: 'amiamie-RegularRound';
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.birth_date_input {
    font-family: 'amiamie-RegularRound';
    font-size: 14px;
    color: lightblue;
    margin: 15px;
}

button {
    font-family: 'amiamie-RegularRound';
    font-size: 14px;
}

.button_action {
    margin: 15px;
}

.footer_text {
    text-align: center;
    font-family: 'Amiamie-LightItalic';
    font-size: 13px;
    color: lightcoral;
    margin-top: 40px;
}

/* Animations for the planets moving to their positions on the zodiac wheel */

#planet1 {
    animation: move1 3s ease-in-out forwards;
}

@keyframes move1 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(105%, 200%); /* Top right area */
    }
}

#planet2 {
    animation: move2 3s ease-in-out forwards;
}

@keyframes move2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(175%, -140%); /* Upper right */
    }
}

#planet3 {
    animation: move3 3s ease-in-out forwards;
}

@keyframes move3 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(200%, 95%); /* Right side */
    }
}

#planet4 {
    animation: move4 3s ease-in-out forwards;
}

@keyframes move4 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(140%, 160%); /* Lower right */
    }
}

#planet5 {
    animation: move5 3s ease-in-out forwards;
}

@keyframes move5 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(40%, 200%); /* Bottom area */
    }
}

#planet6 {
    animation: move6 3s ease-in-out forwards;
}

@keyframes move6 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-140%, 160%); /* Lower left */
    }
}

#planet7 {
    animation: move7 3s ease-in-out forwards;
}

@keyframes move7 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-170%, 45%); /* Left side */
    }
}

#planet8 {
    animation: move8 3s ease-in-out forwards;
}

@keyframes move8 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-180%, -140%); /* Upper left */
    }
}

#planet9 {
    animation: move9 3s ease-in-out forwards;
}

@keyframes move9 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(160%, -175%); /* Upper right */
    }
}

#planet10 {
    animation: move10 3s ease-in-out forwards;
}

@keyframes move10 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-75%, 169%); /* Lower left */
    }
}

#planet11 {
    animation: move11 3s ease-in-out forwards;
}

@keyframes move11 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-60%, -117%); /* Upper left */
    }
}

/* Centered lucky number and text elements */
.lucky_number {
    opacity: 1;
    background-color: lightcoral;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Amiamie-RegularRound';
    font-size: 4vw;
    color: lightcyan;
    text-align: center;
    animation: pop 15s ease-in-out forwards;
    z-index: 10; /* Ensure it appears above other elements */
}

@keyframes pop {
    0% {
        transform: translate(-50%, -250px);
        opacity: 0;
    }
    90% {
        transform: translate(-50%, -250px);
        opacity: 0; 
    }
    100% {
        transform: translate(-50%, -150%);
        opacity: 1;
    }
}

.lucky_text {
    opacity: 1;
    background-color: lightcoral;
    position: absolute;
    top: 65%;
    left: 50%;
    font-family: 'Amiamie-RegularRound';
    font-size: 4vw;
    color: lightcyan;
    text-align: center;
    animation: pop2 15s ease-in-out forwards;
    z-index: 10; /* Ensure it appears above other elements */
}

@keyframes pop2 {
    0% {
        transform: translate(-50%, 150px);
        opacity: 0;
    }
    90% {
        transform: translate(-50%, 150px);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -70%);
        opacity: 1;
    }
}