/* Body styling. background color is dark to look like a swamp forest */
/* Hide reaction shrek by default */
#reaction {
    display: none;
    position: absolute;
    bottom: 10%;
    margin: 0 auto;
    z-index: 10;
}

#conclusion {
    display: none;
    font-size: 2em;
}

#footer-scr {
    background-color: rgba(240, 240, 240, 0.5);
    display: none;
    font-size: 1.5em;
    padding: 2rem;
}

#shrek {
    position: relative;
    display: none;
    right: 40%;
    bottom: 50%;
    margin: 0 auto;
    width: 250px;
    min-width: 60px;
    height: auto;
}

body {
    margin: 5%;
    font-family: 'Segoe UI', Arial, sans-serif;
    background: url('./01_forest_imgs/grass-background.png');
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Container for story text*/
.story {
    background-color: rgba(240, 240, 240, 0.5);
    max-width: 70%;
    text-align: center;
    padding: 2rem;
}

.world {
    position: relative;
    width: 50vw;
    height: 50vh;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    overflow: scroll;
}

.big {
    position: relative;
    width: 1000px;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forest {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 40vh;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(3, max-content);
    gap: 0;
    justify-content: center;
    align-content: center;
    z-index: 1;
}

.trees {
    width: 7em;
    max-width: 150px;
    min-width: 1em;
    height: auto;
    object-fit: contain;
    z-index: 1;
}

.village {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 20vw;
    height: 20vh;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(3, max-content);
    gap: 1.5em;
    justify-content: center;
    align-content: center;
    z-index: 2;
}

.villagers {
    width: 4em;
    max-width: 64px;
    min-width: 1em;
    height: auto;
    object-fit: contain;
    z-index: 3;
}
.forest-monster{
    position: absolute;
    right: 1%;
    bottom: 1%;
    width: 20vw;
    height: 20vh;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(3, max-content);
    gap: 0;
    justify-content: center;
    align-content: center;
    z-index: 4;
}

.monster {
    position: absolute;
    left: 40%;
    bottom: 2%;
    z-index: 5;
}